/__pycache__
\.~lock.XRAY_TEMPLATE.docx#
\~$SCELLANEOUS_TEMPLATE.docx
\~$py of SEROLOGY.docx
\~$ROLOGY_TEMPLATE.docx
\newDoc.docx
\config.env
\~$MMARY_REPORT_TEMPLATE.docx
\~$MATOLOGY COMPLETE BLOOD COUNT.docx
\~$INALYSIS_TEMPLATE.docx
\new_document.docx
\age.png
\gender.png
\tests.png
\testXFemale.png
\testXMale.png
\testXOther.png


